* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* dev utility classes */
.test-b {
    border: 2px solid blue;
}

.test-bg {
    background-color: lightblue;
}

.test-h {
    height: 200px;
}


/* utility classes */
.size-7_5 {
    font-size: 7.5pt;
}

.size-8 {
    font-size: 8pt;
}

.size-9 {
    font-size: 9pt;
}

.size-10 {
    font-size: 10pt;
}

.inline-block {
    display: inline-block;
}

.underline {
    border-bottom: 0.2mm solid currentColor;
    /* text-decoration: underline; */
}

.double-underline {
    border-bottom: 0.6mm double currentColor;
    /* text-decoration: blue double underline; */
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-red {
    color: #c93838;
    /* #bf616a */
}

.bg-red {
    background-color: #c93838;
    /* #bf616a */
    color: #ffffff;
}

.h-px {
    height: 1px;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.w-page {
    /* width: 375.5px; */
    /* width: 376px; */
    width: 165mm;
}

.mb-5 {
    margin-bottom: 5mm;
}

.mb-7 {
    margin-bottom: 7mm;
}

.mb-10 {
    margin-bottom: 10mm;
}

.mb-15 {
    margin-bottom: 15mm;
}

.mb-20 {
    margin-bottom: 20mm;
}

.mb-25 {
    margin-bottom: 25mm;
}

.mb-30 {
    margin-bottom: 30mm;
}


/* elements */
hr {
    /* border-top: 0.1mm solid; */
    border: 0;
    height: 0.2mm;
    background-color: #000000;
}